# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Django stuff
*.sqlite3
db.sqlite3
/media/
staticfiles/

# Data
data/
*.csv
*.json

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py

# Translation build artifacts
locale/**/django.mo

# VSCode & other editor crap
.vscode/
.idea/
.DS_Store
*.swp
db.sqlite3
